* {
	box-sizing: border-box;
	font-weight: 600;
}

body {
	display: flex;
	text-align: center;
	justify-content: center;
	background-image: url('./images/blurred.jpg');
	color: white;
}

a {
	text-decoration: none;
	color: white;
	/* font-weight: 600; */
}

#profile-pic {
	background-image: url('images/profile.jpeg');
	background-size: cover;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin: 100px auto 20px;
}

#name {
	font-size: 1.75rem;
	text-shadow: 1px 1px 2px black;
}

#contact {
	font-size: 1.25rem;
	text-shadow: 1px 1px 2px black;
}

#twitter, #linkedin {
	height: 50px;
	width: 50px;
}

#socials {
	display: flex;
	gap: 0.75rem;
	justify-content: center;
	margin: 1.5rem;

}

.buttons {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 2rem;
}

.btn {
	width: 500px;
}
