body, html {
	display: flex;
	text-align: center;
	justify-content: center;
	background-color: slategray;
	color: white;
	height: 100%;
}

/* * {
	box-sizing: border-box;
} */



#profile-info {
	display: flex;
	flex-direction: column;
}

#profile-pic {
	background-image: url('images/profile.jpeg');
	background-size: cover;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin: 100px auto 20px;
}

.btn {
	width: 800px;
	height: 50%;
	border-radius: 0%;
	margin: -100px 0 0 0;
}
